<ion-view view-title="Detail Page 3">
  <ion-content>
  <div class="padding">
    Content Page 3
    <div class="card">
   <div class="item item-avatar">
      <img src="./img/tong.png">
      <h2>Card Name</h2>
   </div>

   <div class="item item-body">
      <img class="full-image" src="./img/family.png">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eget pharetra tortor. Proin quis eros imperdiet, facilisis nisi in, tincidunt orci. Nam tristique elit massa, quis faucibus augue finibus ac.
</div>
    </div>
  </ion-content>
</ion-view>